.index h1,
.fatteh h1,
.kishk h1,
.tuna h1 {
    color: blueviolet;
}

.index h2,
.fatteh h2,
.kishk h2,
.tuna h2 {
    color: blueviolet;
}

.index {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.fatteh,
.kishk,
.tuna {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.fatteh-pic,
.kishk-pic {
    height: auto;
    width: 30%;
}

.tuna-pic {
    height: 450px;
    width: 320px;
}